body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
}
h1 {
  font-size: 50px;
}

.orange-color {
  color: orange;
}

.flexible-container {
  display: flex;
  margin-bottom: 100px;
}
.top-banner {
  background-image: url(images/top-banner.png);
  background-repeat: no-repeat;
}
.box1 {
  width: 50%;
  padding-left: 5%;
}
.hire-btn {
  border-radius: 5px;
  background-image: linear-gradient(orange, tomato);
  text-decoration: none;
  padding: 10px 40px;
  color: white;
  font-weight: 700;
}

.box1 img {
  width: 80%;
}

.middle-banner {
  background-image: url(./images/dream-bg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.middle-banner .box1 p {
  padding-right: 120px;
  text-align: justify;
}
.exprience-item {
  width: 40%;
  margin-left: 5%;
  margin-right: 5%;
  padding-left: 10px;
  box-shadow: 10px 10px 40px grey;
}
.item1 {
  border-left: 5px solid orange;
  background-color: white;
}
.item2 {
  border-left: 5px solid;
  border-image: linear-gradient(blue, cyan);
  border-image-slice: 1;
}
.exprience-area {
  background-image: url(./images/exp-bg.png);
  background-repeat: no-repeat;
  background-position-y: 10em;
}
footer p {
  text-align: center;
}
